.modals {
  width: 100%;
  background-color: var(--color-background);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row-reverse;
  z-index: 100;
}
.modal {
  width: 440px;
  height: 100vh;
  box-shadow: var(--shadow);
  background-color: var(--color-light);
  position: relative;

  @include mobile {
    width: 320px;
    display: flex;
  }

  &__feedback--close,
  &__call--close  {
    display: none;
  }

  &__feedback--open,
  &__call--open {
    display: block;
  }

  &--close {
    background-image: url(../img/close.png);
    position: absolute;
    top: 25px;
    left: -70px;

    @include mobile {
      position: static;
      margin-top: 20px;
      margin-left: 20px;
    }
  }
  &__title {
    padding: 30px;
    position: relative;
    @include mobile {
      padding: 20px;
    }

    &::before {
      content: "";
      display: inline-block;
      width: 4px;
      height: 32px;
      background-color: #41F6D7;
      position: absolute;
      left: 0;
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
    }
  }
  
  &__forms {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    padding-left: 30px;
    padding-right: 30px;
  }
  &__input {
    min-width: 376px;
    min-height: 48px;
    border: 1px solid #EAEAEA;
    border-radius: 10px;
    background-color: white;
    outline: none;
    padding: 10px;

    @include mobile {
      min-width: 280px;
    }
  }
  &__text {
    @include mobile {
      font-size: 10px;
    }

    &--color {
      color: #FF3E79;
    }
  }

  &__button {
    width: 136px;
    height: 32px;
    border: none;
    border-radius: 50px;
    background-color: #FF3E79;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    align-self: flex-end;

    &::after {
      content: ">";
      color: white;
      width: 24px;
      height: 15px;
      display: inline-block;
    }
  }
}

