.repair{
  padding-top: 20px;
  &__container {
    padding: 30px 20px 10px 20px;
    @include mobile {
      display: none;
    }
  }
  &__card {
    height: 160px;

    @include tablet {
      &:nth-child(n+4) {
        display: none;
      }
    }

    @include mobile {
      width: 240px;
    }

    &-title {
      font-weight: 500;
      width: 240px;
      display: flex;
      justify-content: space-between;

      &::after {
        content: '';
        display: inline-block;
        background: url(../img/brands/go.png) no-repeat;
        min-width: 40px;
        min-height: 40px;
        align-self: flex-end;
      }
    }
  }
  &__button {
    margin-left: 20px;

    @include mobile {
      display: none;
    }
  }
  &__swiper {
    height: 220px;
    @include mobile-above {
      display: none;
    }

    &::before,
    &::after {
      height: 160px;
    }
  }
}

