.swiper {
  margin-top: 20px;
  position: relative;

  &-wrapper {
    width: 240px;
    margin: 0 !important;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    width: 20px;
    z-index: 10;
  }
  &::before {
    left: 0;
    background: linear-gradient(to left, transparent, #F8F8F8);
  }
  &::after {
    right: 0;
    background: linear-gradient(to right, transparent, #F8F8F8);
  }
}
.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  line-height: 20px;
  font-size: 12px;
  background-color: #B5B6BC;
}