@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
  padding: 0;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
}

/**
  Плавный скролл
 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Приводим к единому цвету svg-элементы
 */
[fill] {
  fill: currentColor;
}

[stroke] {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "TTLakes";
  src: url(../fonts/TTLakes-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TTLakes";
  src: url(../fonts/TTLakes-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TTLakes";
  src: url(../fonts/TTLakes-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: var(--font-family-base);
  font-weight: 400;
  font-size: 14px;
  color: var(--color-black);
  background-color: var(--color-gray);
  display: flex;
}
@media (max-width: 1280px) {
  body {
    display: block;
  }
}

button {
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  font-weight: 500;
}

a,
button,
input,
textarea {
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3 {
  font-weight: 700;
  margin: 0;
}

main {
  max-width: var(--container-width);
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding: var(--section-padding-y) var(--container-padding-x);
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 240px));
  justify-content: space-between;
  row-gap: 10px;
}
@media (max-width: 1023px) {
  .container {
    grid-template-columns: repeat(3, minmax(200px, 240px));
  }
}

:root {
  --color-black: #1B1C21;
  --color-light: #FFFFFF;
  --color-accent: #41F6D7;
  --color-accent-text: #7E7E82;
  --color-gray: #F8F8F8;
  --color-gray-light: #EAEAEA;
  --color-background: rgb(255 255 255 / 92%);
  --border-card: 1px solid #EAEAEA;
  --border-accent: 1px solid #B8FFEC;
  --border-top: 1px solid #D9FFF5;
  --border-radius: 6px;
  --border-radius-inpyt: 8px;
  --gradient: linear-gradient(to right, #F8F8F8, #FFFFFF);
  --shadow: 16px 0 52px 0 rgba(14, 24, 80, 0.2);
  --font-family-base: "TTLakes", sans-serif;
  --container-width: 1120px;
  --container-padding-x: 20px;
  --section-padding-y: 30px;
  --input-height: 48px;
  --button-height: 32px;
}

.button__next {
  display: flex;
  align-items: center;
  border: none;
  width: 145px;
}

.button__next--arrow::before,
.button__next--open::before,
.button__next--close::before {
  content: "";
  display: inline-block;
  background-image: url(../img/arrow.png);
  width: 20px;
  height: 20px;
  margin: 10px;
  transform: rotate(0);
}

.button__next--close::before {
  transform: rotate(180deg);
}

.title {
  padding-left: var(--container-padding-x);
  height: 56px;
  display: flex;
  align-items: center;
  border-top: var(--border-top);
  font-weight: 100;
  color: var(--color-accent-text);
  text-transform: uppercase;
  background: var(--gradient);
}

.card {
  display: flex;
  padding: 10px;
  border-radius: var(--border-radius);
  background-color: var(--color-light);
  border: var(--border-card);
}

.swiper {
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
}
.swiper-wrapper {
  width: 240px;
  margin: 0 !important;
}
.swiper::before, .swiper::after {
  content: "";
  position: absolute;
  top: 0;
  width: 20px;
  z-index: 10;
}
.swiper::before {
  left: 0;
  background: linear-gradient(to left, transparent, #F8F8F8);
}
.swiper::after {
  right: 0;
  background: linear-gradient(to right, transparent, #F8F8F8);
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  line-height: 20px;
  font-size: 12px;
  background-color: #B5B6BC;
}

.modals {
  width: 100%;
  background-color: var(--color-background);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row-reverse;
  z-index: 100;
}

.modal {
  width: 440px;
  height: 100vh;
  box-shadow: var(--shadow);
  background-color: var(--color-light);
  position: relative;
}
@media (max-width: 767px) {
  .modal {
    width: 320px;
    display: flex;
  }
}
.modal__feedback--close, .modal__call--close {
  display: none;
}
.modal__feedback--open, .modal__call--open {
  display: block;
}
.modal__close {
  background-image: url(../img/close.png);
  position: absolute;
  top: 25px;
  left: -70px;
}
@media (max-width: 767px) {
  .modal__close {
    position: static;
    margin-top: 20px;
    margin-left: 20px;
  }
}
.modal__title {
  padding: 30px;
  position: relative;
}
@media (max-width: 767px) {
  .modal__title {
    padding: 20px;
  }
}
.modal__title::before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 32px;
  background-color: #41F6D7;
  position: absolute;
  left: 0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.modal__forms {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  padding-left: 30px;
  padding-right: 30px;
}
.modal__input {
  min-width: 376px;
  min-height: 48px;
  border: 1px solid #EAEAEA;
  border-radius: 10px;
  background-color: white;
  outline: none;
  padding: 10px;
}
@media (max-width: 767px) {
  .modal__input {
    min-width: 280px;
  }
}
@media (max-width: 767px) {
  .modal__text {
    font-size: 10px;
  }
}
.modal__text--color {
  color: #FF3E79;
}
.modal__button {
  width: 136px;
  height: 32px;
  border: none;
  border-radius: 50px;
  background-color: #FF3E79;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  align-self: flex-end;
}
.modal__button::after {
  content: ">";
  color: white;
  width: 24px;
  height: 15px;
  display: inline-block;
}

.aside {
  background-color: var(--color-light);
}
.aside--hide {
  display: none;
}
@media (min-width: 1281px) {
  .aside--hide {
    display: block;
  }
}
.aside--visible {
  display: block;
}
@media (max-width: 1023px) {
  .aside {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    background-color: var(--color-background);
  }
}
@media (max-width: 767px) {
  .aside {
    height: 100%;
    background-color: inherit;
  }
}
.aside__container {
  width: 320px;
  min-width: 216px;
  background-color: var(--color-light);
}
@media (max-width: 1023px) {
  .aside__container {
    box-shadow: var(--shadow);
  }
}
.aside__header {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.aside__header-left {
  display: flex;
  align-items: center;
  column-gap: 15px;
}
.aside__header-search {
  background-image: url(../img/search.png);
  background-repeat: no-repeat;
}
.aside__close {
  display: none;
}
@media (max-width: 1023px) {
  .aside__close {
    display: inline-block;
    background-image: url(../img/close.png);
  }
}
.aside__menu {
  padding: 0px 20px 20px 20px;
  height: 90vh;
  min-height: 485px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .aside__menu {
    height: auto;
  }
}
.aside__menu-list {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
@media (max-width: 1023px) {
  .aside__menu-list {
    row-gap: 10px;
  }
}
@media (max-width: 767px) {
  .aside__menu-list {
    row-gap: 5px;
  }
}
.aside__menu-item {
  height: 30px;
  display: flex;
  align-items: center;
}
.aside__menu-link--active {
  color: var(--color-accent-text);
  position: relative;
}
.aside__menu-link--active::before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 30px;
  position: absolute;
  top: -6px;
  left: -20px;
  background-color: var(--color-accent);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
.aside__footer-contact {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.aside__footer-icon {
  display: flex;
  column-gap: 15px;
}
.aside__footer-button--call {
  background-image: url(../img/call.png);
  background-repeat: no-repeat;
}
.aside__footer-button--message {
  background-image: url(../img/chat.png);
  background-repeat: no-repeat;
}
.aside__footer-button--profile {
  background-image: url(../img/profile.png);
  background-repeat: no-repeat;
}
.aside__footer-email {
  font-weight: 500;
}
.aside__footer-number {
  font-size: 20px;
  font-weight: 700;
}
.aside__footer-lang {
  width: 25px;
  height: 24px;
}
.aside__footer-lang--active {
  color: var(--color-accent-text);
}

.header {
  background-color: var(--color-light);
  border-bottom: var(--border-accent);
  max-width: 1120px;
}
@media (min-width: 1281px) {
  .header {
    display: none;
  }
}
.header__container {
  padding: 10px var(--container-padding-x);
  display: flex;
  justify-content: space-between;
}
.header__left {
  display: flex;
  align-items: center;
  column-gap: 20px;
}
.header__left-menu {
  background-image: url(../img/burger.png);
}
.header__left-vertical-line {
  display: inline-block;
  width: 2px;
  height: 32px;
  background-color: var(--color-gray-light);
}
@media (max-width: 767px) {
  .header__left-vertical-line {
    display: none;
  }
}
.header__right {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.header__services {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
@media (max-width: 767px) {
  .header__services--hide {
    display: none;
  }
}
.header__services--with-line::before {
  content: "";
  display: inline-block;
  width: 2px;
  height: 32px;
  background-color: var(--color-gray-light);
}
.header__button--call {
  background-image: url(../img/call.png);
}
.header__button--chat {
  background-image: url(../img/chat.png);
}
.header__button--profile {
  background-image: url(../img/profile.png);
}
.header__button--repair {
  background-image: url(../img/repair.png);
}
.header__button--status {
  background-image: url(../img/checkstatus.png);
}

.services {
  padding: var(--section-padding-y) var(--container-padding-x);
}
.services__header {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.services__header::before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 30px;
  position: absolute;
  top: 0;
  left: -20px;
  background-color: var(--color-accent);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
.services__buttons-group {
  display: flex;
  column-gap: 10px;
}
@media (max-width: 1023px) {
  .services__buttons-group {
    display: none;
  }
}
.services__button {
  width: 180px;
  display: flex;
  align-items: center;
  background-color: var(--color-gray);
}
.services__button--application::after {
  content: "";
  width: 40px;
  height: 40px;
  background-image: url(../img/repair.png);
  margin-left: 10px;
}
.services__button--status::after {
  content: "";
  width: 40px;
  height: 40px;
  background-image: url(../img/checkstatus.png);
  margin-left: 10px;
}
.services__list {
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  scrollbar-width: none;
  column-gap: 10px;
}
@media (max-width: 1023px) {
  .services__list {
    flex-wrap: nowrap;
  }
}
.services__link {
  white-space: nowrap;
  padding: 10px 15px;
  display: inline-block;
  color: var(--color-accent-text);
}
.services__link--active {
  border: var(--border-accent);
  border-radius: 5px;
  background-color: var(--color-light);
}
.services__description {
  padding-top: 20px;
  display: flex;
  column-gap: 20px;
}
@media (max-width: 767px) {
  .services__description {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.services__paragraph {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
@media (max-width: 1023px) {
  .services__paragraph {
    overflow: hidden;
    max-height: 115px;
  }
}
@media (max-width: 767px) {
  .services__paragraph {
    max-height: 100px;
    max-width: 382px;
  }
}
.services__img {
  max-width: 532px;
}
@media (max-width: 1280px) {
  .services__img {
    max-width: 382px;
    max-height: 221px;
  }
}
@media (max-width: 767px) {
  .services__img {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .brands__container {
    display: none;
  }
}
.brands__button {
  margin-left: 20px;
}
@media (max-width: 767px) {
  .brands__button {
    display: none;
  }
}
.brands__swiper {
  height: 110px;
}
@media (min-width: 768px) {
  .brands__swiper {
    display: none;
  }
}
.brands__swiper::before, .brands__swiper::after {
  height: 72px;
}

.brand__card {
  height: 72px;
}
.brand__card .brand__icon {
  width: 240px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.brand__card .brand__icon::after {
  content: "";
  background: url(../img/brands/go.png) no-repeat;
  min-width: 40px;
  min-height: 40px;
}
.brand__card:nth-child(n+9) {
  display: none;
}
@media (max-width: 1023px) {
  .brand__card:nth-child(n+7) {
    display: none;
  }
}

@media (max-width: 767px) {
  .repair__container {
    display: none;
  }
}
.repair__card {
  height: 160px;
}
@media (max-width: 1023px) {
  .repair__card:nth-child(n+4) {
    display: none;
  }
}
@media (max-width: 767px) {
  .repair__card {
    width: 240px;
  }
}
.repair__card-title {
  font-weight: 500;
  width: 240px;
  display: flex;
  justify-content: space-between;
}
.repair__card-title::after {
  content: "";
  display: inline-block;
  background: url(../img/brands/go.png) no-repeat;
  min-width: 40px;
  min-height: 40px;
  align-self: flex-end;
}
.repair__button {
  margin-left: 20px;
}
@media (max-width: 767px) {
  .repair__button {
    display: none;
  }
}
.repair__swiper {
  height: 220px;
}
@media (min-width: 768px) {
  .repair__swiper {
    display: none;
  }
}
.repair__swiper::before, .repair__swiper::after {
  height: 160px;
}
.repair .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  line-height: 20px;
  font-size: 12px;
  background-color: #B5B6BC;
}

@media (max-width: 767px) {
  .price {
    display: none;
  }
}

.main__footer {
  padding: var(--section-padding-y) var(--container-padding-x);
  border-top: var(--border-top);
  display: flex;
  justify-content: space-between;
  color: var(--color-accent-text);
}
@media (max-width: 767px) {
  .main__footer {
    flex-direction: column;
    text-align: center;
    row-gap: 5px;
    font-size: 12px;
  }
}
.main__footer-elem--start {
  text-align: start;
}
@media (max-width: 767px) {
  .main__footer-elem--start {
    text-align: center;
  }
}
.main__footer-elem--end {
  text-align: end;
}
@media (max-width: 767px) {
  .main__footer-elem--end {
    text-align: center;
  }
}

/*# sourceMappingURL=styles.css.map */